<launch>
    <!-- launch the custom world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="paused" value="True"/>
        <!--arg name="use_sim_time" value="False" /-->
        <arg name="world_name" value="$(find cartpole_description)/worlds/cart_world.world"/>
        <env name="GAZEBO_MODEL_PATH" value="$(find cartpole_description)/models:$(optenv GAZEBO_MODEL_PATH)"/>
    </include>

</launch>