<?xml version="1.0" encoding="UTF-8"?>

<launch>
    
    <arg name="sdf_robot_file" value="$(find models_spawn_library)/models/Watermelon/model.sdf"/>
    <arg name="robot_name" value="Watermelon1" />
    <arg name="x" default="0.52" />
    <arg name="y" default="0" />
    <arg name="z" default="0.2" />
    <arg name="yaw" default="0.0" />
    
    
    <include file="$(find spawn_robot_tools_pkg)/launch/spawn_sdf.launch">
        <arg name="sdf_robot_file" value="$(arg sdf_robot_file)"/>
        <arg name="robot_name" default="$(arg robot_name)" />
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
        <arg name="yaw" value="$(arg yaw)" />
    </include>
    
</launch>