<?xml version="1.0"?>
<model>
  <name>tennis_ball</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Miguel Angle Rodriguez</name>
    <email>duckfrost@theconstructsim.com</email>
  </author>

  <description>
    tennis_ball model from https://www.blendswap.com/
Thank you for downloading "Tennis ball" by gabriel
Released under
Creative Commons Zero (Public Domain)
Downloaded from http://www.blendswap.com/blends/view/51185
  </description>
</model>
