<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="world" default="clearpath_playpen.world"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find virtual_slam)/worlds/$(arg world)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <param name="robot_description" textfile="$(find tf_gopigo)/urdf/gopigo3.gazebo" />
  
  <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-file $(find tf_gopigo)/urdf/gopigo3.gazebo -urdf -model gopigo3 -x 6 -y 6 -Y 2.3" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node> 
  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/> 

</launch>
